<div class="container">
  <form #itemForm="ngForm">

  <!-- {{diagnostic}} -->

  <div *ngIf="productItem">
    <h2>{{productItem.name}}</h2>
  </div>

  <div class="form-group">
    <label for="quantity">Quantity</label>
    <input type="text" class="form-control" id="quantity" [(ngModel)]="item.quantity" name="quantity" required>
  </div>

  <div *ngIf="productItem">

    <div *ngIf="productItem.hasTemplate">

      <!-- Dynamic form fields per specific product -->
      <div *ngIf="productItem.templateFields.fieldlist.field.length">
        <a *ngFor="let field of productItem.templateFields.fieldlist.field; let i = index">
          <div class="form-group">
            <label for="{{field.htmlfieldname}}">{{field.prompt[0].text}}</label>
            <input type="text" class="form-control" id="{{field.htmlfieldname}}" name="{{field.htmlfieldname}}" required>
          </div>
        </a>
      </div>
    </div>
  </div>

  <button (click)="onSubmit()">Save Item</button>

  </form>
</div>
